{% extends 'base.html.twig' %}

{% block title %}Modifier un medecin{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <h1>Modifier un medecin</h1>
        
            {{ include('medecin/_form.html.twig', {'button_label': 'Modifier'}) }}
            {{ include('medecin/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
