main {
    min-height: 85vh;
}
footer {
    padding: 26px;
    text-align: center;
    background: #222222fa;
    color: #fff;
    font-weight: 600;
}
  
.margin-top-5{
    margin-top: 50px;
}

.abled{
    color: #00bcd4;
    font-weight: 900;
    cursor: pointer;
}

.disabled{
    color: rgb(139, 139, 139);
}
